* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #111;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
}

.styling {
    font-weight: 800;
    color: lime;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-div .input {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: #fff;
    width: 450px;
    font-family: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
    border: none;
}

.addButton {
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.container {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
}

.item-input {
    background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
    width: 245px;
    margin-bottom: 10px;
}

.editButton {
    font-size: 1.4rem;
    margin: 0 0.75rem;
    background: none;
    outline: none;
    color: lime;
    border: none;
}

.removeButton {
    font-size: 1.4rem;
    margin: 0 0.75rem;
    background: none;
    outline: none;
    color: #E00;
    border: none;
}

.high {
    color: red;
}

.low {
    color: green;
}

.medium {
 color: yellow;
}


th,
td {
  color: #fff;
}

/* table {
  border: 1px solid #fff;
} */

table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid #fff;
    padding: 0.5rem;
    text-align: center;
  }

.addButton:hover {
    opacity: 0;
}